In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from scipy.stats import poisson,skellam

In [5]:
epl_1920 = pd.read_csv('E0.csv')
epl_1920 = epl_1920[['HomeTeam','AwayTeam','FTHG','FTAG']]
epl_1920 = epl_1920.rename(columns={'FTHG':'HomeGoals','FTAG':'AwayGoals'})
epl_1920.head()

         HomeTeam          AwayTeam  HomeGoals  AwayGoals
0       Liverpool           Norwich          4          1
1        West Ham          Man City          0          5
2     Bournemouth  Sheffield United          1          1
3         Burnley       Southampton          3          0
4  Crystal Palace           Everton          0          0

In [6]:
epl_1920 = epl_1920[:-10]
epl_1920.mean()

HomeGoals    1.508108
AwayGoals    1.197297
dtype: float64

In [7]:
skellam.pmf(0.0, epl_1920.mean()[0],epl_1920.mean()[1])

0.25428088854445496

In [8]:
skellam.pmf(1, epl_1920.mean()[0],epl_1920.mean()[1])

0.22372371409045236